<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Interactive map vanilla js</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="content">
      <div class="content__search-wrapper">
        <div id="search-group-js" class="search-group">
          <input
            id="search-js"
            type="text"
            placeholder="Search Capital Cities..."
            autocomplete="false"
          />
          <div id="search-list-js" class="search-list"></div>
        </div>
      </div>
      <div class="content-left">
        <div id="map-container" class="map-container"></div>
      </div>
      <div id="map-panel" class="content-right"></div>
    </div>
  </body>
</html>
