.container {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1200px;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px auto 25px;
}
