.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &-left {
    width: 100%;
    height: 100vh;

    @media (max-width: 768px) {
      height: 50vh;
    }
  }

  &-right {
    width: 320px;
    background-color: hsl(0, 0%, 94%);
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      min-height: 50vh;
      overflow: auto;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 10px 0;
    }

    &__name {
      font-size: 14px;
      margin: 10px 0 5px 0;
      font-weight: bold;
    }

    &__descr {
      font-size: 14px;
      margin: 0 0 10px 0;
    }

    &__tags {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 8px;

      .mode-btn {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        background: lightgrey;
        border-radius: 7px;

        border: none;
        outline: none;
        transition: all 0.1s ease-in;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus,
        &.active {
          background: $main-color;
        }

        &:after {
          content: "";
          position: absolute;
          top: 8px;
          left: 8px;
          width: 24px;
          height: 24px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .marker-icon:after {
        background-image: url("../../images/marker.svg");
      }

      .radar-marker-icon {
        -webkit-mask-image: none;
        mask-image: none;
        &:after {
          background-image: url("../../images/radar.svg");
        }
      }

      .measure-point-icon:after {
        top: 14px;
        left: 14px;
        width: 12px;
        height: 12px;
        background-image: url("../../images/measure-point.svg");
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @media (max-width: 768px) {
        overflow: unset;
      }

      .data-view {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        @media (max-width: 768px) {
          overflow: unset;
        }

        &__distance {
          margin: 0 0 10px 0;
        }

        &__row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2px 0;

          p.data-name {
            margin: 0 8px;
          }

          p.capital {
            margin: 0 8px;
            // font-weight: bold;
          }

          .btn-remove {
            position: relative;
            width: 30px;
            height: 30px;
            margin: 0 4px 3px;
            cursor: pointer;
            border-radius: 7px;
            border: none;
            outline: none;
            background-color: transparent;
            transition: all 0.1s ease-in;

            &:hover,
            &:active,
            &:focus {
              background-color: lightgrey;
            }

            &:after {
              content: "";
              position: absolute;
              top: 3px;
              left: 3px;
              width: 22px;
              height: 24px;
              background-image: url("../../images/bin.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }

  &__search-wrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 999;

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      top: 16px;
      left: 0px;
    }
  }
}
