.tabs-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 8px;
  > li.nav-tab {
    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
      padding: 4px 8px;
    }

    &.active,
    &:hover {
      a {
        color: $main-color;
      }
    }
  }
}

.tabs-content {
  width: 100%;
  height: 100%;
  .tab-pane {
    height: 100%;
    display: none;
    &.active {
      display: block;
    }
  }
}
